main {
    grid-area: main;
    background: rgb(40, 40, 40);
    overflow-y: auto;
    color: rgb(231, 231, 231);
    padding: 2rem;
}

main>h2 {
    margin: 0 0 20px 0;
}

.container__tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main img {
    width: clamp(30rem, 50rem, 50rem);
    margin: auto;
    height: auto;
}

@media screen and (max-width:768px) {
    main img {
        width: 90%;
        margin: auto;
    }
}