:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background: rgb(237, 237, 237);
    font-size: 1.6rem;
}

.container {
    display: grid;
    grid-template-rows: 11rem auto 9rem;
    grid-template-columns: 20rem auto;
    grid-template-areas:
        'logo header'
        'LinkPages main'
        'newNote main';
    height: 100vh;
}

button {
    transition: all .4s;
}

button:hover {
    filter: brightness(0.7);
}

@media screen and (max-width:768px) {
    .container {
        height: 100vh;
        grid-template-columns: 100vw;
        grid-template-rows: 5rem 10rem auto 7rem;
        grid-template-areas:
            'logo'
            'header'
            'main'
            'newNote';
    }
}